# Large data files
TFM/data/datasets_TFM + diccionario/*.csv
TFM/data/datasets_TFM + diccionario/*.xlsx
entregable3/data/*.csv
entregable_1/data/
entregable_2/data/

# System files
.DS_Store
.idea/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
CLAUDE.md