# Large data files
TFM/classification_model/data/*.csv
TFM/clustering/data/*.csv
TFM/clustering/*.pdf
TFM/clustering/models/*.pkl
TFM/data/datasets_TFM + diccionario/*.csv
TFM/data/pbi_datasets/*.csv
TFM/data/datasets_TFM + diccionario/*.xlsx
entregable3/data/*.csv
entregable_1/data/
entregable_2/data/

# System files
.DS_Store
.idea/
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
